<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <header class="banner">
        <h1 style="text-align:center; color:white">EventLite</h1>
    </header>

    <nav class="main">
        <ul>
            <li><a href="/index" class="left">Home</li>
            <li><a href="/login" class="right">Sign In</li>
            <li><a href="/searchEvent" class="center">Search Events</a></li>
        </ul>
    </nav>
    <div class="sideshift">
        <h2 style="text-align:center">Welcome!</h2>
        <p>Missing out on events happening in your area????
            <p>Stay on top of all the local events happening in your area by searching for them. </p>
           <p> Connect with friends through Facebook and get more information about the event</p>
        <p>
            See what is happening in the Charlotte area this week. From musical performances, to sport events,
            to seminars. See what interests you and connect with your friends to make the social gatherings
            that much more special!!!
        </p>
    </div>
    <footer>© MANAGEMENT OFFICE ON HIGH STREET. ALL RIGHTS RESERVED.</footer>

</body>

</html>
