<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>It's happening!</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <header class="banner">
        <p id="posi3" style="color:white">
            Not signed in.
        </p>
        <h1 style="text-align:center; color:white">It's happening!</h1>
        <h3 style="text-align:center; color:white">Now explore Charlotte like never before</h3>
    </header>
    <nav class="main">
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/login"> Sign In</a></li>
            <li><a href="/searchEvent">Search Events</a></li>
        </ul>
    </nav>
    <div class="sideshiftSE">
        <table class="SEvents">
            <tr>
                <td class="select">City:
                    <select>
                        <option value="Charlotte">Charlotte</option>
                        <option value="Atlanta">Atlanta</option>
                    </select>
                </td>
                <td class="select">State:
                    <select>
                        <option value="Carolina">North Carolina</option>
                        <option value="Georgia">Georgia</option>
                    </select>
                </td>
                <td class="select">Zip Code:
                    <select>
                        <option value="28262">28262</option>
                        <option value="25323">25323</option>
                    </select>
                </td>
                <td class="select">Event Type:
                    <select>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Food">Food</option>
                    </select>
                </td>
                <td class="select">In Radius Of:
                    <select>
                        <option value="5">5</option>
                        <option value="10">10</option>
                    </select>
                </td>
				<td><button type="button" onClick="javascript:location.href = 'Events.html';">Search</button>
	</td>
            </tr>
        </table>
    </div>

    <footer>© MANAGEMENT OFFICE ON HIGH STREET. ALL RIGHTS RESERVED.</footer>

</body>

</html>
